.menu {
    position: absolute;
    left: -190px;
    top: 0;
    z-index: 1;
    width: 200px;
    height: 100%;

    padding: 10px;
    border: 1px solid #DBA8E0;

    background-color: #E0E0E0;
    transition: left 300ms ease-in-out;
}

.menu.active {
    left: 0;
}

.menu .btn {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
}

.menu .btn:hover {
    background-color: rgba(0,0,0,.2);
}

.menu .btn:after {
    content: "🎫";
}

.menu.active .btn:after{
    content: "❌";    
}

.menu ul {
    margin: 40px 50px 0 0;
    list-style: none;
    font-size: 15px;
    padding-inline-start: 0;
}

.menu ul li {
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.menu ul li.active {
    background-color: rgba(0,0,0, .1);
}

.menu ul li:before {
    content: "👉";
    margin: 0 10px 0 0;
}

.icons {
    content: "®️";
    /*
    🏧🚮🚰♿🚹🚺🚻🚼🚾🛂🛃🛄🛅⚠️🚸⛔🚫🚳🚭🚯🚱🚷📵🔞☢️☣️⬆️↗️➡️↘️⬇️↙️⬅️↖️↕️↔️↩️↪️⤴️⤵️🔃🔄🔙🔚🔛🔜🔝🛐⚛️🕉️✡️☸️☯️✝️☦️☪️☮️🕎🔯🪯♈♉♊♋♌♍♎♏♐♑♒♓⛎🔀🔁🔂▶️⏩⏭️⏯️◀️⏪⏮️🔼⏫🔽⏬⏸️⏹️⏺️⏏️🎦🔅🔆📶🛜📳📴♀️♂️⚧️✖️➕➖➗🟰♾️‼️⁉️❓❔❕❗〰️💱💲⚕️♻️⚜️🔱📛🔰⭕✅☑️✔️❌❎➰➿〽️✳️✴️❇️©️®️™️#️⃣*️⃣0️⃣1️⃣2️⃣3️⃣4️⃣5️⃣6️⃣7️⃣8️⃣9️⃣🔟🔠🔡🔢🔣🔤🅰️🆎🅱️🆑🆒🆓ℹ️🆔Ⓜ️🆕🆖🅾️🆗🅿️🆘🆙🆚🈁🈂️🈷️🈶🈯🉐🈹🈚🈲🉑🈸🈴🈳㊗️㊙️🈺🈵🔴🟠🟡🟢🔵🟣🟤⚫⚪🟥🟧🟨🟩🟦🟪🟫⬛⬜◼️◻️◾◽▪️▫️🔶🔷🔸🔹🔺🔻💠🔘
    👓🕶️🥽🥼🦺👔👕👖🧣🧤🧥🧦👗👘🥻🩱🩲🩳👙👚🪭👛👜👝🛍️🎒🩴👞👟🥾🥿👠👡🩰👢🪮👑👒🎩🎓🧢🪖⛑️📿💄💍💎🔇🔈🔉🔊📢📣📯🔔🔕🎼🎵🎶🎙️🎚️🎛️🎤🎧📻🎷🪗🎸🎹🎺🎻🪕🥁🪘🪇🪈📱📲☎️📞📟📠🔋🪫🔌💻🖥️🖨️⌨️🖱️🖲️💽💾💿📀🧮🎥🎞️📽️🎬📺📷📸📹📼🔍🔎🕯️💡🔦🏮🪔📔📕📖📗📘📙📚📓📒📃📜📄📰🗞️📑🔖🏷️💰🪙💴💵💶💷💸💳🧾💹✉️📧📨📩📤📥📦📫📪📬📭📮🗳️✏️✒️🖋️🖊️🖌️🖍️📝💼📁📂🗂️📅📆🗒️🗓️📇📈📉📊📋📌📍📎🖇️📏📐✂️🗃️🗄️🗑️🔒🔓🔏🔐🔑🗝️🔨🪓⛏️⚒️🛠️🗡️⚔️💣🪃🏹🛡️🪚🔧🪛🔩⚙️🗜️⚖️🦯🔗⛓️🪝🧰🧲🪜⚗️🧪🧫🧬🔬🔭📡💉🩸💊🩹🩼🩺🩻🚪🛗🪞🪟🛏️🛋️🪑🚽🪠🚿🛁🪤🪒🧴🧷🧹🧺🧻🪣🧼🫧🪥🧽🧯🛒🚬⚰️🪦⚱️🧿🪬🗿🪧🪪
    🤣😂🫠😊🥰😍😘🤭🫣🤔🙄🥵🥶😎🤓🙁🥺😢😭🤡🤖💔❤️‍🩹❤️🩷🧡💚💙💜🖤🤍💬💭👉👆👇👏🫶🤝🙏💪🫀👀🏋️‍♀️🗣️🫂🐕🐈🐾🕊️🦅🦋🥥☕🏠♨️🚗🚨✈️☀️⭐🌪️🌈🔥🌊✨🎉🏆⚽🥋🧸🎭🧶👑💍💎🎶📱📞💻💡📖📚💸📍🔒⚖️🧿🗿⚠️🔞⬇️✝️⚕️✅✔️❌🇧🇷🇵🇹🫶🏼
    */
}