@import "utils.css";
@import "header.css";
@import "aside.css";
@import "main.css";
@import "footer.css";

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}

